/* CART2 */

/* .img-cart {
    display: block;
    max-width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
table tr td{
    border:1px solid #FFFFFF;    
}

table tr th {
    background:#eee;    
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
} */

.summary-title {
  padding: 12px;
}
.cart-qty {
  width: 50px;
  text-align: center;
}
.dlt-cart {
  cursor: pointer;
}
