<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h3 class="text-center">Add SubCategory</h3>
      <form [formGroup]="subCategoryForm" (ngSubmit)="onAddSubCategory()">
        <div class="row">
        <div class="col-md-6">
          <label>SubCategory</label>
          <input type="text" class="form-control" formControlName="name" />
        </div>
        <div class="col-md-6">
          <label>Category</label>
          <select class="form-select" formControlName="categoryId">
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>
       
          <div class="col-md-6">
          <label>Type</label>
          <select class="form-select" formControlName="type">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="kids">Kids</option>
          </select>
        </div>
          <div class="col-md-6">
          <label>Photo Url</label>
          <input type="text" class="form-control" formControlName="photoUrl" />
        </div>
</div>
    <div class="row">
      
         <div class="col-md-12">
          <label>Description</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
          />
        </div>
        
</div>
<div class="my-4 text-center">
   <button class="btn my-2 btn-submit" type="submit">Add SubCategory</button>
</div>
       
      </form>
     
    </div>
  </div>
</div>

