.user-img{
    background-color: rgb(236, 241, 246);
    padding: 10px;
}
.user-details{
    background-color: rgb(236, 241, 246);
    padding: 10px; 
}
.user-details p{
    padding:3px 16px ;
}

.user-form{
   background-color: rgb(236, 241, 246);
}
.radio-btn{
    padding: 5px;
}
.account-info{
    margin-top: 30px;
}


.act-heading, .empty-col{
    background-color: rgb(246, 248, 248);
}
.details-list{
    background-color: rgb(246, 248, 248);
}
.persnl-inf-para, .my-dtl-heading{
   font-weight: bold;
}
.details-form label{
  padding: 5px;
  margin-top: 5px;
}







.login, .address{
    background-color: rgb(251, 249, 249);
}