<!-- <div class="container">
  <div class="row">
    <div class="col-md-3 mx-4">
      <div class="user-img my-4">
        <h6 class="p-3"><i class="fa-solid fa-user-tie"></i> HELLO</h6>
      </div>
      <div class="user-details">
        <div>
          <h6 class="p-3"><i class="fa-solid fa-truck"></i> MY ORDERS</h6>
        </div>
        <div>
          <h6 class="p-3"><i class="fa-solid fa-user"></i> ACCOUNT SETTINGS</h6>
          <P>Profile Information</P>
          <p>Manage Adresses</p>
          <p>PAN Card Information</p>
        </div>
        <div>
          <h6 class="p-3"><i class="fa-solid fa-credit-card"></i> PAYMENTS</h6>
          <p>Gift Cards</p>
          <p>Saved UPI</p>
        </div>
        <div>
          <h6 class="p-3">
            <i class="fa-solid fa-clipboard-user"></i> MY STUFF
          </h6>
          <p>My Coupons</p>
          <p>My Reviews & Ratings</p>
          <p>All Notifications</p>
          <p>My Wishlist</p>
        </div>
        <div>
          <h6 class="p-3">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
          </h6>
        </div>
      </div>
    </div>

  
    <div class="col-md-8 my-4 user-form">
      <form action="">
        <h5>Personal Information</h5>
        <input type="text" class="p-2" /> <input type="text" class="p-2 mx-5" />
        <p class="mb-0 mt-4">Your Gender</p>
        <div class="d-flex">
          <div class="radio-btn">
            <input type="radio" id="male" name="gender" value="male" />
            <label for="male" class="px-2">Male</label>
          </div>
          <div class="radio-btn">
            <input type="radio" id="female" name="gender" value="female" />
            <label for="female" class="px-2">Female</label>
          </div>
        </div>
        <div class="my-3">
          <h5>Email Address</h5>
          <input type="text" class="p-2" />
        </div>
        <h5>Mobile Number</h5>
        <input type="text" class="p-2" />
        <div></div>
      </form>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row details-form">
    <h2 class="act-heading py-4 px-4 mb-0">My Account</h2>
    <div class="col-md-3 details-list">
      <h5 class="py-2 px-3">
        <i class="fa-regular fa-user px-2"></i> My Details
      </h5>
      <h5 class="py-2 px-3">
        <i class="fa-solid fa-location-dot px-2"></i>My Address Book
      </h5>
      <h5 class="py-2 px-3">
        <i class="fa-solid fa-briefcase px-2"></i> My Orders
      </h5>
      <h5 class="py-2 px-3">
        <i class="fa-regular fa-credit-card px-2"></i> Payments
      </h5>
      <h5 class="py-2 px-3">
        <i class="fa-solid fa-gear px-2"></i>Account Settings
      </h5>
    </div>
    <div class="col-md-8 p-5">
      <div class="border-bottom">
        <h4 class="pb-2 my-dtl-heading">My Details</h4>
        <p class="persnl-inf-para">Personal Information</p>
      </div>
      <div>
        <form [formGroup]="userForm" (ngSubmit)="onUpdateUserDetails()">
          <div class="row">
            <div class="col-5">
              <label>Full Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="fullName"
              />
            </div>
            <div class="col-5">
              <label>Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>DOB</label>
              <input
                type="date"
                class="form-control"
                formControlName="dateOfBirth"
              />
            </div>
            <div class="col-5">
              <label>Mobile Number</label>
              <input
                type="number"
                class="form-control"
                formControlName="mobileNumber"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <!-- <input type="radio" id="male" name="gender" value="male" />
              <label for="male" class="px-2">Male</label>
              <input type="radio" id="female" name="female" value="female" />
              <label for="female" class="px-2">Female</label> -->
              <label class="py-3">Your Gender</label>
              <div>
                <input
                  type="radio"
                  id="huey"
                  name="drone"
                  value="male"
                  formControlName="gender"
                />
                <label for="huey" class="my-0">Male</label>
              </div>

              <div>
                <input
                  type="radio"
                  id="dewey"
                  name="drone"
                  value="female"
                  formControlName="gender"
                />
                <label for="dewey" class="my-0">Female</label>
              </div>
            </div>
            <div class="col-5">
              <label>Pin Code</label>
              <input
                type="number"
                class="form-control"
                formControlName="pinCode"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-5">
              <label>State</label>
              <input type="text" class="form-control" formControlName="state" />
            </div>
            <div class="col-5">
              <label>Address</label>
              <textarea
                name=""
                id=""
                cols="50"
                rows="5"
                class="form-control"
                formControlName="address"
              ></textarea>
            </div>
            <div>
              <button class="btn btn-info">Add Details</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-1 empty-col"></div>
    <div class="col-md-12 empty-col p-5"></div>
  </div>
</div>

<!-- User Payment -->

<div class="container">
  <div class="col-md-8">
    <div class="login p-3">
      <div class="row">
        <div class="col-md-10">
          <h5><span>1</span> Login</h5>
        </div>
        <div class="col-md-2">
          <button
            class="btn-change px-4 py-2 text-primary border border-grey bg-white"
          >
            CHANGE
          </button>
        </div>
        <p>+919890123456</p>
      </div>
    </div>

    <div class="address p-3 mt-4">
      <div class="row">
        <div class="col-md-10">
          <h5><span>2</span> DELIVERY ADDRESS</h5>
        </div>
        <div class="col-md-2">
          <button
            class="btn-change px-4 py-2 text-primary border border-grey bg-white"
          >
            CHANGE
          </button>
        </div>
        <p>Shaikh Mujavviz Opp.Police Colony,Malik Pura,Parli</p>
      </div>
    </div>

    <div class="address p-3 mt-4">
      <div class="row">
        <div class="col-md-10">
          <h5><span>3</span> ORDER SUMMARY</h5>
        </div>
        <div class="col-md-2">
          <button
            class="btn-change px-4 py-2 text-primary border border-grey bg-white"
          >
            CHANGE
          </button>
        </div>
        <p>6 Items</p>
      </div>
    </div>

    <div class="address p-3 mt-4">
      <div class="row">
        <div class="col-md-10">
          <h5><span>4</span> PAYMENT OPTIONS</h5>
        </div>
        <div class="col-md-2">
          <button
            class="btn-change px-4 py-2 text-primary border border-grey bg-white"
          >
            CHANGE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
