<!-- <div class="row">
    <div class="col-md-2">
  <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        MY ORDERS
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"></div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        ACCOUNT SETTINGS
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <P>Profile Information</P>
        <P>Manage Addresses</P>
        <P>PAN Card Information</P>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        PAYMENTS
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <p>Gift Cards</p>
        <p>Saved UPI</p>
        <p>Saved Cards</p>
      </div>
    </div>
  </div>

    <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        MY STUFF
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"></div>
    </div>
  </div>
</div>
    </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-3 mx-4">
      <div class="user-img my-4">
        <h6 class="p-3"><i class="fa-solid fa-user-tie"></i> HELLO</h6>
      </div>
      <div class="user-details">
        <div>
          <h6 class="p-3"><i class="fa-solid fa-truck"></i> MY ORDERS</h6>
        </div>
        <div>
          <h6 class="p-3"><i class="fa-solid fa-user"></i> ACCOUNT SETTINGS</h6>
          <P>Profile Information</P>
          <p>Manage Adresses</p>
          <p>PAN Card Information</p>
        </div>
        <div>
          <h6 class="p-3"><i class="fa-solid fa-credit-card"></i> PAYMENTS</h6>
          <p>Gift Cards</p>
          <p>Saved UPI</p>
        </div>
        <div>
          <h6 class="p-3">
            <i class="fa-solid fa-clipboard-user"></i> MY STUFF
          </h6>
          <p>My Coupons</p>
          <p>My Reviews & Ratings</p>
          <p>All Notifications</p>
          <p>My Wishlist</p>
        </div>
        <div>
          <h6 class="p-3">
            <i class="fa-solid fa-right-from-bracket"></i> Logout
          </h6>
        </div>
      </div>
    </div>

    <!-- USER FORM -->
    <div class="col-md-8 my-4 user-form">
      <form action="">
        <h5>Personal Information</h5>
        <input type="text" class="p-2" /> <input type="text" class="p-2 mx-5" />
        <p class="mb-0 mt-4">Your Gender</p>
        <div class="d-flex">
          <div class="radio-btn">
            <input type="radio" id="male" name="gender" value="male" />
            <label for="male" class="px-2">Male</label>
          </div>
          <div class="radio-btn">
            <input type="radio" id="female" name="gender" value="female" />
            <label for="female" class="px-2">Female</label>
          </div>
        </div>
        <div class="my-3">
          <h5>Email Address</h5>
          <input type="text" class="p-2" />
        </div>
        <h5>Mobile Number</h5>
        <input type="text" class="p-2" />
        <div></div>
      </form>

      <div class="account-info">
        <h5>FAQs</h5>
        <h6 class="my-3">
          What happens when I update my email address (or mobile number)?
        </h6>
        <p>
          Your login email id (or mobile number) changes, likewise. You'll
          receive all your account related communication on your updated email
          address (or mobile number).
        </p>
        <h6 class="my-3">
          When will my Flipkart account be updated with the new email address
          (or mobile number)?
        </h6>
        <p>
          It happens as soon as you confirm the verification code sent to your
          email (or mobile) and save the changes.
        </p>
        <h6 class="my-3">
          What happens to my existing Flipkart account when I update my email
          address (or mobile number)?
        </h6>
        <p>
          Updating your email address (or mobile number) doesn't invalidate your
          account. Your account remains fully functional. You'll continue seeing
          your Order history, saved information and personal details.
        </p>
        <h6 class="my-3">
          Does my Seller account get affected when I update my email address?
        </h6>
        <p>
          Flipkart has a 'single sign-on' policy. Any changes will reflect in
          your Seller account also.
        </p>
      </div>
      <h6 class="my-4">
        <a class="text-decoration-none">Deactivate Account</a>
      </h6>
    </div>
  </div>
</div>
