<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h3>Edit Product</h3>
      <form [formGroup]="productForm" (ngSubmit)="onUpdateProduct()">
        <div class="row">
        <div class="col-md-6">
          <label>Brand</label>
          <input type="text" class="form-control" formControlName="brand" />
        </div>
        <div class="col-md-6">
          <label>Category Id</label>
          <select class="form-select" formControlName="categoryId" #category
          (change)="onCategoryChange(category.value)">
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>
</div>
<div class="row">
         <div  class="col-md-6">
          <label>SubCategory Id</label>
          <select class="form-select" formControlname="subCategoryId">
            <option *ngFor="let subCategory of subCategories" [value]="subCategory.id">
              {{ subCategory.name }}
            </option>
          </select>
        </div>
        <div  class="col-md-6">
          <label>Photo Url</label>
          <input type="text" class="form-control" formControlName="photoUrl" />
        </div>
</div>
<div class="row">
        <div class="col-md-6">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name" />
        </div>

        <div class="col-md-6">
          <label>Exclusive For</label>
          <select class="form-select" formControlName="exclusiveFor">
            <option value="Men">Men</option>
            <option value="Women">Women</option>
            <option value="Kids">Kids</option>
          </select>
        </div>
  </div>
  <div class="row">
        <div class="col-md-6">
          <label>Price</label>
          <input type="text" class="form-control" formControlName="price" />
        </div>
        <div class="col-md-6">
          <label>Rating</label>
          <input type="text" class="form-control" formControlName="rating" />
        </div>
 </div>
 <div class="row">
        <div class="col-md-6">
          <label>Description</label>
          <input
            type="text"
            class="form-control"
            formControlName="description"
          />
        </div>

        <div class="col-md-6">
          <label>Color</label>
          <input type="text" class="form-control" formControlName="color" />
        </div>
  </div>
  <div class="row">
        <div class="col-md-6">
          <label>Size</label>
          <input type="text" class="form-control" formControlName="size" />
        </div>
        <div class="col-md-6">
          <label>Quantity</label>
          <input type="text" class="form-control" formControlName="quantity" />
        </div>
</div>
        <button class="btn btn-primary my-2" type="submit">
          Update product
        </button>
      </form>
      <div></div>
    </div>
  </div>
</div>
