<nav class="navbar navbar-expand-sm sticky-top navbar-dark p-3">
  <div class="container-fluid">
    <img src="../../assets/Images/logo.png" alt="logoy" />
    <!-- <input type="search" class="hidden-icon search-box" placeholder="Search.."> -->
    <i class="fa-solid fa-magnifying-glass hidden-icon"></i>
    <i class="fa-solid fa-cart-shopping hidden-icon"></i>
    <i class="fa-solid fa-user hidden-icon"></i
        >
        <!-- <div class="search-box bg-dark">
  <input type="text" class="search-text" placeholder="Search here...">
  <a class="search-btn">
     <i class="
     fa-solid fa-magnifying-glass"></i>
  </a>
</div> -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            href="javascript:void(0)"
            [routerLink]="['/admin']"
           
            >Men</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Women</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['/']"
            >Kids</a
          >
        </li>
        <div class="mx-sm-0 sm-hidden">
          <input
            class="form-control prod-search"
            type="text"
            placeholder="Search products & brands"
          />
        </div>
      </ul>
       <div>
        <a class="nav-link" (click)="onLogout()">logout</a>
       </div>
      <div class="nav-border sm-hidden">
        <a class="nav-link cart-btn" type="button"
          >Cart <i class="fa-solid fa-cart-shopping"></i
        ></a>
      </div>
      <div class="nav-border sm-hidden">
        <a class="nav-link user-btn" type="button" [routerLink]="['/login']"
          >Sign in <i class="fa-solid fa-user"></i
        ></a>
      </div>

      <!-- <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul> -->
    </div>
  </div>
</nav>


