.navbar {
  /* background-color: rgb(239 88 88); */
  background-color: #6351ce;
}
.nav-item {
  font-weight: 400;
  font-size: large;
}
.nav-item a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}
.nav-item a:hover
{
  color: #33bab1;
  text-decoration: none;
}
.prod-search {
  /* text-align: center; */
  width: 400px;
  margin-left: 40px;
}
.cart-btn,
.user-btn,
.fa-user,
.fa-cart-shopping {
  font-size: large;
}
.nav-border {
  padding: 5px;
}
.sm-hidden{
  padding: 12px;
}
.sm-hidden a{
  font-weight: 400;
}

.sm-hidden i{
  font-size: 16px;
}
@media screen and (min-width: 576px) {
  .hidden-icon {
    display: none;
    
  }
}

@media screen and (max-width: 576px) {
  .sm-hidden {
    display: none;
  }
  .hidden-icon{
    font-size: 15px;
    padding-left: 0;
  }
  /* .search-box{
    width: 80px;
    padding: 2px;
  } */
}

.trigger-search {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  outline: none;
  cursor: pointer;
}
.input {
  border-radius: 20px;
  border: none;
  outline: none;
  transition: 0.25s ease-in-out all;
  width: 0;
  padding: 0;
  margin-right: -25px;
  height: 40px;
}

/* SEARCH BOX */
/* form.example input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 6px;
  background: #0f6dbb;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
} */