<div class="container text-end my-3">
  <div class="row">
    <!-- <div class="col-md-6">
      <input
        type="search"
        class="form-control search"
        placeholder="Search title ......"
      />
    </div> -->
  </div>

  <a class="btn btn-primary" [routerLink]="['/admin', 'category', 'add']">
    Add Category
  </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-11">
      <table class="table table-bordered table-striped table-hover align-items-center">
        <thead class="thead">
          <tr class="text-center">
            <!-- <th>Id</th> -->
            <th>Sr No</th>
            <th>Name</th>
            <th>Type</th>
            <th>Photo Url</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories | paginate: { itemsPerPage: 10, currentPage: page,
              totalItems:totalLength
          }" class="text-center">
            <!-- <td>{{ category.id }}</td> -->
            <td>{{ category.name }}</td>
            <td>{{ category.type }}</td>
            <!-- <td>{{category.photoUrl}}</td> -->
            <td>
              <img
                [src]="category.photoUrl"
                alt=""
                class="rounded-circle"
                style="width: 60px; height: 60px"
              />
            </td>
            <td>{{ category.description }}</td>
            <td >
              <a
                class="btn btn-sm btn-outline-primary"
                [routerLink]="['/admin/category', category.id, 'edit']"
                ><i class="fa-solid fa-pen-to-square"></i></a
              >
              <button
                class="btn btn-sm btn-outline-danger mx-2 "
                (click)="onDeleteCategory(category.id)"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-center fs-5 my-pagination my-3">
<pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
    
</div>
