<!-- <div class="container single-product">
    <div class="row">
        <div class="col-3 prod-img">
            <img src="https://m.media-amazon.com/images/I/81vuqr1DAtL._UX569_.jpg" width="100%" alt="">
            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="https://m.media-amazon.com/images/I/81vuqr1DAtL._UX569_.jpg" width="100%"alt="">
                </div>
                  <div class="small-img-col">
                    <img src="https://m.media-amazon.com/images/I/81payTaBGYL._UX569_.jpg" width="100%"alt="">
                </div>
                  <div class="small-img-col">
                    <img src="https://m.media-amazon.com/images/I/81IxL7wPLrL._UX569_.jpg" width="100%"alt="">
                </div>
                  <div class="small-img-col">
                    <img src="https://m.media-amazon.com/images/I/71IdgHFU8JL._UX569_.jpg" width="100%"alt="">
                </div>
            </div>
        </div>
        <div class="col-6">
            <p>Van Heusen</p>
            <h1>Blue Printed Shirt</h1>
            <h4>&#8377; 699</h4>
            <select name="" id="">
                <option value="">Select Size</option>
                <option value="">M</option>
                <option value="">L</option>
                <option value="">XL</option>
                <option value="">XXL</option>
            </select>
            <input type="number" value="1" class="my-3">
            <a class="btn btn-primary">Add To Cart</a>
            <h3 class="mt-4 pt-4">Product Details <i class="fa fa-indent text-danger"></i></h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel et quas accusantium explicabo architecto aliquam, totam corporis ex eveniet iusto? Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quis illo minima accusamus quisquam id maiores nulla quibusdam doloremque. Nemo.</p>
        </div>
    </div>
</div> -->

<!-- CARD2 -->

<div class="container">
  <div class="row">
    <div class="col-md-2 mini-img-row">
      <div class="mini-img my-2">
        <img
          src="https://images.meesho.com/images/products/50754822/2wwt1_64.webp"
          width="30%"
          alt=""
        />
      </div>
      <div class="mini-img my-2">
        <img
          src="https://images.meesho.com/images/products/50754822/gnnzq_64.webp"
          width="30%"
          alt=""
        />
      </div>
      <div class="mini-img my-2">
        <img
          src="https://images.meesho.com/images/products/50754822/lzfsn_64.webp"
          width="30%"
          alt=""
        />
      </div>
      <div class="mini-img my-2">
        <img
          src="https://images.meesho.com/images/products/50754822/vjbhq_64.webp"
          width="30%"
          alt=""
        />
      </div>
    </div>
    <div class="col-md-4 large-img-row border border-black">
      <img
        src="https://images.meesho.com/images/products/50754822/2wwt1_512.webp"
        width="100%"
        alt=""
      />
    </div>
    <div class="col-md-6">
      <h6>VeBNoR</h6>
      <h2 class="my-2">VeBNoR Premium Men & Boy T-shirt</h2>
      <p class="my-4">
        <i class="fa fa-star text-warning"></i>
        <i class="fa fa-star text-warning"></i>
        <i class="fa fa-star text-warning"></i>
        <i class="fa fa-star text-warning"></i>
        <i class="fa fa-star text-secondary"></i>
      </p>
      <h3 class="my-4">Rs.699</h3>
      <div class="row">
        <div for="" class="col-md-1 my-3">Color</div>
        <div class="col-md-6 my-3">
          <img
            src="https://images.meesho.com/images/products/50754822/2wwt1_512.webp"
            width="20%"
            alt=""
          />
        </div>
      </div>
      <div class="row">
        <div for="" class="col-md-1 my-4">Size</div>
        <div class="col-md-9 my-4">
          <button class="btn border border-grey">S</button>
          <button class="btn border border-grey mx-3">M</button>
          <button class="btn border border-grey">L</button>
          <button class="btn border border-grey mx-3">XL</button>
          <button class="btn border border-grey">XXL</button>
        </div>
      </div>
      <div>
        <h3>Product Details</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere
          placeat voluptate doloremque unde. Hic repudiandae debitis deserunt
          unde aspernatur iste culpa nam facilis rerum, ut accusamus illo quidem
          eaque doloremque fuga aperiam eos.
        </p>
      </div>
      <div class="my-5">
        <button class="btn btn-cart p-3">ADD TO CART</button>
        <button class="btn btn-buy p-3 mx-3">BUY NOW</button>
      </div>
    </div>
  </div>
</div>
