
<!-- CAROUSEL 3 -->

<div
  id="carouselExampleControls"
  class="carousel slide carousel-dark"
  data-bs-ride="carousel"
>
  <div class="carousel-inner ">
     <h3>TRENDING PRODUCTS</h3>
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="https://n1.sdlcdn.com/imgs/k/k/y/leeway-Black-Cotton-Blend-Slim-SDL582657826-1-4a336.png"
              
              alt="..."
            />
          </div>

          <div class="card-body">
            <p>Veirdo-Green Cotton Regular <br>First Men's T-shirt(Pack of 1)</p>
      <div>
      <i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-secondary"></i></div>
      <h5>Rs 500 <span>50% OFF</span></h5>
           
          </div>
        </div>
          <div class="card">
          <div class="image-wrapper">
            <img
              src="https://n1.sdlcdn.com/imgs/k/k/x/large/leeway-Brown-Cotton-Blend-Slim-SDL297159083-1-0358b.png"
              
              alt="..."
            />
          </div>

          <div class="card-body">
            <p>Veirdo-Green Cotton Regular <br>First Men's T-shirt(Pack of 1)</p>
      <div>
      <i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-secondary"></i></div>
      <h5>Rs 500 <span>50% OFF</span></h5>
           
          </div>
        </div>
          <div class="card">
          <div class="image-wrapper">
            <img
              src="https://n3.sdlcdn.com/imgs/k/i/u/large/leeway-Mustard-Cotton-Blend-Slim-SDL979941204-1-45ce1.png"
              
              alt="..."
            />
          </div>

          <div class="card-body">
            <p>Veirdo-Green Cotton Regular <br>First Men's T-shirt(Pack of 1)</p>
      <div>
      <i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-secondary"></i></div>
      <h5>Rs 500 <span>50% OFF</span></h5>
           
          </div>
        </div>
        <div class="card">
         <div class="image-wrapper">
            <img
              src="https://n4.sdlcdn.com/imgs/k/j/b/large/leeway-Grey-Cotton-Blend-Regular-SDL986231490-1-d407e.png"
              
              alt="..."
            />
          </div>
          <div class="card-body">
           <p>Veirdo-Green Cotton Regular <br>First Men's T-shirt(Pack of 1)</p>
      <div>
      <i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-secondary"></i></div>
      <h5>Rs 500 <span>50% OFF</span></h5>
          
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
            <img
              src="https://n4.sdlcdn.com/imgs/k/k/x/large/leeway-White-Cotton-Blend-Slim-SDL326875130-1-09b95.png"
             
              alt="..."
            />
          </div>
          <div class="card-body">
            <p>Veirdo-Green Cotton Regular <br>First Men's T-shirt(Pack of 1)</p>
      <div>
      <i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-secondary"></i></div>
      <h5>Rs 500 <span>50% OFF</span></h5>
           
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
           <div class="image-wrapper">
            <img
              src="https://n1.sdlcdn.com/imgs/k/k/x/large/leeway-Blue-Cotton-Blend-Slim-SDL784857370-1-c968d.png"
              
              alt="..."
            />
          </div>
          <div class="card-body">
          <p>Veirdo-Green Cotton Regular <br>First Men's T-shirt(Pack of 1)</p>
      <div>
      <i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-secondary"></i></div>
      <h5>Rs 500 <span>50% OFF</span></h5>
           
          </div>
        </div>
        <div class="card">
          <div class="image-wrapper">
            <img
              src="https://n4.sdlcdn.com/imgs/k/j/8/large/leeway-Blue-Cotton-Blend-Slim-SDL141606924-1-d482e.png"
             
              alt="..."
            />
          </div>
          <div class="card-body">
          <p>Veirdo-Green Cotton Regular <br>First Men's T-shirt(Pack of 1)</p>
      <div>
      <i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-secondary"></i></div>
      <h5>Rs 500 <span>50% OFF</span></h5>
          </div>
        </div>

        <div class="card">
          <div class="image-wrapper">
            <img
              src="https://n4.sdlcdn.com/imgs/k/k/x/large/leeway-Blue-Cotton-Blend-Slim-SDL784857370-1-c968d.png"
              
              alt="..."
            />
          </div>
          <div class="card-body">
           <p>Veirdo-Green Cotton Regular <br>First Men's T-shirt(Pack of 1)</p>
      <div>
      <i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-secondary"></i></div>
      <h5>Rs 500 <span>50% OFF</span></h5>
          
          </div>
        </div>
          <div class="card">
          <div class="image-wrapper">
            <img
              src="https://n3.sdlcdn.com/imgs/k/i/9/large/leeway-White-Polyester-Blend-Slim-SDL287478715-1-abaad.png"
              
              alt="..."
            />
          </div>

          <div class="card-body">
            <p>Veirdo-Green Cotton Regular <br>First Men's T-shirt(Pack of 1)</p>
      <div>
      <i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-secondary"></i></div>
      <h5>Rs 500 <span>50% OFF</span></h5>
           
          </div>
        </div>
          <div class="card">
          <div class="image-wrapper">
            <img
              src="https://n1.sdlcdn.com/imgs/k/k/y/leeway-Black-Cotton-Blend-Slim-SDL582657826-1-4a336.png"
              
              alt="..."
            />
          </div>

          <div class="card-body">
            <p>Veirdo-Green Cotton Regular <br>First Men's T-shirt(Pack of 1)</p>
      <div>
      <i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-secondary"></i></div>
      <h5>Rs 500 <span>50% OFF</span></h5>
            
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="carousel-item">
      <div class="cards-wrapper">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="https://n4.sdlcdn.com/imgs/k/e/u/large/Veirdo-100-Cotton-Regular-Fit-SDL302182620-1-f0fac.jpg"
             
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
         <div class="image-wrapper">
            <img
              src="https://n4.sdlcdn.com/imgs/k/e/u/large/Veirdo-100-Cotton-Regular-Fit-SDL302182620-1-f0fac.jpg"
             
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card">
 <div class="image-wrapper">
            <img
              src="https://n4.sdlcdn.com/imgs/k/e/u/large/Veirdo-100-Cotton-Regular-Fit-SDL302182620-1-f0fac.jpg"
             
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div> -->

  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


