
/* .card-body span {
  border: 1px solid grey;
  font-size: small;
  padding: 1px;
  margin-left: 1em;
} */

.trend-prod{
  width: 90%;
  margin: auto;
}
.carosl-men{
  padding: 1rem;
}
.carosl-men h3{
  padding: 10px;
  margin-top: 5px;
}
.card {
  /* border: none; */
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  height: 60vh;
}

  .image-wrapper {
  height: 17vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}
.car-body {
  border: 1px solid black;
  background-color: rgb(254, 253, 252);
 
}
.rating-star{
  font-size: 10px;
}
.card-body h5 {
  padding-top: 2px;
}
.slick-slider {
    width: 88%;
    margin: auto;
    background: rgb(14, 13, 13);
  }
body .slick-prev, 
body .slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
}

@media screen and (max-width: 576px){
  .card{
    height: 40vh;
  }
  .image-wrapper{
    height: 180px;
    width: 180px;
  }
}
