
.prod-text{
    padding-left: 40px;
}
.qtity input{
  width: 20%;
  margin-left: 10px;
  padding: 7px ;
}
label.radio {
  cursor: pointer;
}
label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
label.radio span {
  padding: 2px 9px;
  border: 2px solid #ff0000;
  display: inline-block;
  color: #ff0000;
  border-radius: 3px;
  text-transform: uppercase;
}
label.radio input:checked + span {
  border-color: #ff0000;
  background-color: #ff0000;
  color: #fff;
}

.btn-cart {
  background-color: rgb(64, 43, 28);
  color: white;
  font-weight: 500;
}
.btn-buy {
  background-color: rgb(182, 70, 42);
  color: white;
  font-weight: 500;
}


