<!-- <div class="container single-product">
    <div class="row">
        <div class="col-3 prod-img">
            <img src="https://m.media-amazon.com/images/I/81vuqr1DAtL._UX569_.jpg" width="100%" alt="">
            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="https://m.media-amazon.com/images/I/81vuqr1DAtL._UX569_.jpg" width="100%"alt="">
                </div>
                  <div class="small-img-col">
                    <img src="https://m.media-amazon.com/images/I/81payTaBGYL._UX569_.jpg" width="100%"alt="">
                </div>
                  <div class="small-img-col">
                    <img src="https://m.media-amazon.com/images/I/81IxL7wPLrL._UX569_.jpg" width="100%"alt="">
                </div>
                  <div class="small-img-col">
                    <img src="https://m.media-amazon.com/images/I/71IdgHFU8JL._UX569_.jpg" width="100%"alt="">
                </div>
            </div>
        </div>
        <div class="col-6">
            <p>Van Heusen</p>
            <h1>Blue Printed Shirt</h1>
            <h4>&#8377; 699</h4>
            <select name="" id="">
                <option value="">Select Size</option>
                <option value="">M</option>
                <option value="">L</option>
                <option value="">XL</option>
                <option value="">XXL</option>
            </select>
            <input type="number" value="1" class="my-3">
            <a class="btn btn-primary">Add To Cart</a>
            <h3 class="mt-4 pt-4">Product Details <i class="fa fa-indent text-danger"></i></h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel et quas accusantium explicabo architecto aliquam, totam corporis ex eveniet iusto? Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quis illo minima accusamus quisquam id maiores nulla quibusdam doloremque. Nemo.</p>
        </div>
    </div>
</div> -->

<!-- CARD2 -->

<div class="container">
  <div class="row">
    <div class="col-md-4 large-img-row border border-black">
      <img [src]="product.photoUrl" width="100%" alt="" />
    </div>
    <div class="col-md-6 prod-text">
      <h6>{{ product.brand }}</h6>
      <h2 class="my-2">{{ product.name }}</h2>
      <p class="my-4">
        <i class="fa fa-star text-warning"></i>
        <i class="fa fa-star text-warning"></i>
        <i class="fa fa-star text-warning"></i>
        <i class="fa fa-star text-warning"></i>
        <i class="fa fa-star text-secondary"></i>
      </p>
      <h3 class="my-4">RS.{{ product.price }}</h3>
      <div class="row">
        <div for="" class="col-md-1 my-3">Color</div>
        <div class="col-md-6 my-3 mx-3">
          <img [src]="product.photoUrl" width="20%" alt="" />
        </div>
      </div>

      <div class="row">
        <div for="" class="col-md-1 my-3">Quantity</div>
        <div class="col-md-6 my-3 qtity">
          <input type="number" min="1" value="1" [(ngModel)]="quantity" />
        </div>
      </div>

      <div class="row">
        <div for="" class="col-md-1 my-4">Size</div>
        <div class="col-md-9 my-3 d-flex">
          <div style="margin-left: 10px">
            <label class="radio">
              <input
                type="radio"
                name="size"
                value="S"
                checked
                (change)="onSizeChange($event)"
              />
              <span>S</span>
            </label>
          </div>

          <div class="mx-2">
            <label class="radio">
              <input
                type="radio"
                name="size"
                value="M"
                (change)="onSizeChange($event)"
              />
              <span>M</span>
            </label>
          </div>
          <div>
            <label class="radio">
              <input
                type="radio"
                name="size"
                value="L"
                (change)="onSizeChange($event)"
              />
              <span>L</span>
            </label>
          </div>
          <div class="mx-2">
            <label class="radio">
              <input
                type="radio"
                name="size"
                value="XL"
                (change)="onSizeChange($event)"
              />
              <span>XL</span>
            </label>
          </div>
          <div>
            <label class="radio">
              <input
                type="radio"
                name="size"
                value="XXL"
                (change)="onSizeChange($event)"
              />
              <span>XXL</span>
            </label>
          </div>
        </div>
      </div>

      <div>
        <h3>Product Details</h3>
        <p>
          {{ product.description }}
        </p>
      </div>
      <div class="my-5">
        <button class="btn btn-cart p-3" (click)="onAddToCart()">
          ADD TO CART
        </button>
        <button class="btn btn-buy p-3 mx-3">BUY NOW</button>
      </div>
    </div>
  </div>
</div>


