.box {
  border: 1px solid black;
 margin: 10px 3em;

}
.box-data{
   padding: 3em;
}
.categ{
background-image: radial-gradient( circle 759px at -6.7% 50%, rgb(188, 221, 184) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
}
.prod{
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}
.user{
  background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
}
.order{
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}