<div class="card-top container-fluid">
  <div class="d-flex container">
    <div>
      <a class="nav-link px-2 categ-link" (click)="getCategoryByType('male')"
        >Male</a
      >
    </div>
    <div>
      <a class="nav-link px-2 categ-link" (click)="getCategoryByType('female')"
        >Female</a
      >
    </div>
  </div>
  <div class="container d-flex">
    <div class="item">
      <img
        src="https://img1.junaroad.com//assets/images/mobileNotif/img-1628498908811.jpg"
        alt=""
      />
      <h6>All Products</h6>
    </div>
    <div class="item" *ngFor="let category of categories">
      <img [src]="category.photoUrl" class="rounded-circle" alt="" />
      <h6>{{ category.name }}</h6>
    </div>
  </div>
</div>
