<div class="card-top container-fluid ">
  <div class="container d-flex">
    <div class="item">
   <img src="https://img1.junaroad.com//assets/images/mobileNotif/img-1628498908811.jpg" alt="">
  <h6>All Products</h6>
    </div>
     <div class="item">
      
    <img src="https://img0.junaroad.com/images/icons/men/tshirts.png" alt="">
    <h6>T-Shirts</h6>
    </div>
     <div class="item">
      <img src="https://img0.junaroad.com/images/icons/men/shirts.png" alt="">
<h6>Shirts</h6>
    </div>
     <div class="item">
      <img src="https://img0.junaroad.com/images/icons/men/jeans.png" alt="">
      <h6>Jeans</h6>
    </div>
     <div class="item">
      <img src="https://img0.junaroad.com/images/icons/men/trousers.png" alt="">
      <h6>Trousers</h6>
    </div>
      <div class="item">
      <img src="https://img0.junaroad.com/images/icons/men/ethnicsets.png" alt="">
      <h6>Ethnic Sets</h6>
    </div>
      <div class="item">
      <img src="https://img0.junaroad.com/images/icons/men/winter.png" alt="">
      <h6>Winter</h6>
    </div>
   
  </div>

</div>
  <!-- Wooomen Section -->
  <!-- <div class="card-top container-fluid ">
  <div class="container d-flex">
    <div class="item">
   <img src="https://img1.junaroad.com//assets/images/mobileNotif/img-1628498908811.jpg" alt="">
  <h6>All Products</h6>
    </div>
     <div class="item">
      
    <img src="https://img0.junaroad.com/images/icons/women/kurtas.png" alt="">
    <h6>KURTAS</h6>
    </div>
     <div class="item">
      <img src="https://img0.junaroad.com/images/icons/women/tops.png" alt="">
<h6>TOPS</h6>
    </div>
     <div class="item">
      <img src="https://img0.junaroad.com/images/icons/women/dresses.png" alt="">
      <h6>DRESSES</h6>
    </div>
     <div class="item">
      <img src="https://img0.junaroad.com/images/icons/women/sarees.png" alt="">
      <h6>SAREES</h6>
    </div>
      <div class="item">
      <img src="https://img0.junaroad.com/images/icons/women/suits.png" alt="">
      <h6>SUITS</h6>
    </div>
      <div class="item">
      <img src="https://img0.junaroad.com/images/icons/women/ethnicsets.png" alt="">
      <h6>ETHNIC SETS</h6>
    </div> 
      <div class="item">
      <img src="https://img0.junaroad.com/images/icons/women/winter.png" alt="">
      <h6>WINTER</h6>
    </div> 
  </div>

</div>

 -->
