<div class="card-top container-fluid">
  <div class="d-flex container">
    <div>
      <a class="nav-link px-2 categ-link text-decoration-none fs-4" (click)="getCategoryByType('male')"
        >Male</a
      >
    </div>
    <div>
      <a class="nav-link px-2 categ-link text-decoration-none fs-4" (click)="getCategoryByType('female')"
        >Female</a
      >
    </div>
  </div>
  <div class="container d-flex col-md-12 col-sm-12 categ">
    <div class="item" [routerLink]="['products/catalog']">
      <img
        src="https://img1.junaroad.com//assets/images/mobileNotif/img-1628498908811.jpg"
        alt=""
        class="img-thumbnail"
      />
      <h6>All Products</h6>
    </div>
    <div class="item" *ngFor="let category of categories" [routerLink]="['products/catalog']"
    [queryParams]="{catogoryId:category.id}" >
      <img [src]="category.photoUrl" class="rounded-circle" alt="" />
      <h6>{{ category.name }}</h6>
    </div>
  </div>
</div>


<!-- <ng-image-slider [images]="categories" #nav ></ng-image-slider> -->
