/* cart item */
.card-top {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background: #fff;
  background-clip: border-box;
  border: 1px solid black;
  border-radius: 0.25rem;
}
.item {
  margin: 0 15px;
  text-align: center;
  padding: 0.5rem;
}
.item img {
    border: 1px solid #ddd;
  width: 70px;
  height: 70px;
  
}
.item img:hover{

   box-shadow: 0 0 2px 1px rgba(0, 186, 9, 0.5);
}
.item h6 {
  font-size: small;
  padding-top: 0.5em;
}
.categ-link {
  cursor: pointer;
  padding: 6px;
  color: lightslategray;
}
.categ-link:hover {
  text-underline-position: above;
  color: black;
  border-bottom: 1px solid red;
}
