
<!-- <section  class="banner">
<div>
  <h5>NEW ARRIVALS</h5>
  <h1><span>Best Price</span>This Year</h1>
  <p>Shoomatic offers your very comfortable time on walking and exercises.</p>
  <button class="btn btn-dark text-white">Shop Now</button>
</div>

</section> -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://imagescdn.peterengland.com/img/app/shopmedia/production/5/5-20-10555.jpg?w=1000&auto=format,compress" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://assets.ajio.com/cms/AJIO/WEB/02092022-d-unisex-topbanner-p3-brands-5090.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://imagescdn.peterengland.com/img/app/shopmedia/production/5/5-20-10922.jpg?w=1000&auto=format,compress.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


