<div class="col-md-12">
  <div class="order-dtl">
    <div class="container">
      <h3 class="my-4">MY ORDERS</h3>
      <ng-container *ngFor="let userOrder of userOrders">
        <div class="row bg-white my-3" *ngFor="let order of userOrder.orders">
          <div class="col-md-2">
            <img [src]="order.image" width="40%" class="p-2" alt="" />
          </div>
          <div class="col-md-2 py-3 user-name">
            {{ order.userName }}
          </div>
          <div class="col-md-3 p-2">
            <h6 class="mt-2">{{ order.productName }}</h6>
            <p>Quantity:{{ order.quantity }} &nbsp; Price:₹{{ order.price }}</p>
          </div>
          <div class="col-md-2 mt-2 p-2">₹{{ order.totalAmount }}</div>
          <div class="col-md-3 mt-2 p-2">
            <div>
              <h6>
                {{ order.status }} on {{ order.dateOfOrder | date: "short" }}
              </h6>
            </div>
            <select
              name=""
              id=""
              [(ngModel)]="order.status"
              (change)="onChangeStatus($event)"
              class="drpdown"
            >
              <option value="Booked">Booked</option>
              <option value="Shipped">Shipped</option>
              <option value="Delivered">Delivered</option>
              <option value="Cancelled">Cancelled</option>
              <option value="Return">Return</option>
            </select>
            <div>
              <button   
                class="btn btn-sm btn-warning text-center text-white my-2"
                (click)="onUpdateStatus(order, userOrder.userId)"
              >
                Update Status
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
