<!-- <div class="row">
  <div class="col-md-9">
    <input
      type="search"
      class="form-control"
      placeholder="Search here...."
      [(ngModel)]="postSearch"
    />
  </div>
</div> -->
<div>


<div class="text-end p-3">
  <a class="btn btn-outline-dark" [routerLink]="['/admin', 'product', 'add']">
   <i class="fa-solid fa-plus"></i> Add New
  </a>
</div>

<div class="row bg-light p-3">
 <h3 class="pb-2">Product Details</h3>
  <div class="col-md-12 table-responsive" id="no-more-tables ">
    <table class="table table-bordered table-striped table-hoverk">
      <thead class="text-light">
        <tr class="text-center">
          <th>Brand</th>
           <th>Category</th>
           <th>SubCategory</th>
           <th>PhotoUrl</th>
          <th>Name</th>
          <th>Exclusive For</th>
          <th>Price</th>
          <th>Rating</th>
          <!-- <th>Description</th> -->
          <th>Color</th>
          <th>Size</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products| paginate: { itemsPerPage: 10, currentPage: page,
              totalItems:totalLength
          }" class="text-center">
          <td data-label="Brand">{{ product.brand }}</td>
           <td data-label="Category">{{ product.categoryName }}</td>
           <td data-label="SubCategory">{{product.subCategoryName}}</td>
            <td data-label="PhotoUrl"><img [src]="product.photoUrl" alt="" class="rounded-circle"/></td>
          <td data-label="Name">{{ product.name }}</td>
           <td  data-label="Exclusive For"> {{product.exclusiveFor}}</td>
          <td data-label="Price">{{ product.price }}</td>
          <td data-label="Rating">{{ product.rating }}</td>
          <!-- <td data-label="Description">{{ product.description }}</td> -->
          <td data-label="Color">{{ product.color }}</td>
          <td data-label="Size">{{ product.size }}</td>
          <td data-label="Quantity">{{ product.quantity }}</td>
          <td data-label="Actions">
            <button
              class="btn btn-sm text-warning"
              [routerLink]="['/admin/product', product.id, 'edit']"
              ><i class="fa-solid fa-pen-to-square"></i></button
            >
            <button  class="btn btn-sm text-danger btn-outline"
y              (click)="onDeleteProduct(product.id)"
            >
             <i class="fa-solid fa-trash-can"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
   <div class="text-center fs-5 my-pagination my-3">
<pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
</div>